$link_farbe: #645f5f;
$background-input-field: #e5e2e2;
$font-field-color: #a1a1a1;
$event-field: #f1eded;
$main-color: #E84E04;
$event-date: #909090;
.bild-grey {
  background-color: $background-input-field;
  padding: 0 !important;

}

.event-grey {
  background-color: $event-field;
  .row {
    margin-bottom: 0px !important;

  }
}

.group{
    max-width: 100% !important ; 
}

.container {
  color: #000;
}

.main-row {
  background-color: #fff;
}

.profileRow {
  background-color: #E4E2E3;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 0 !important;
  .profileCol {
    margin: 0px;
    padding: 0px;
  }

  .infoCol {
    margin: 0px;
    padding: 0px 0px 0px 40px;
    * {
      line-height: 1.5 !important;
    }
  }
}

.image-field {
  img {
    width: 100%;
    display: block;
  }
}

.input-field.image-upload {
  background-color: $background-input-field;
  text-align: center;
  color: $font-field-color;
  height: 250px;
  margin-top: 0px !important;
  padding: 20px 0px;
  i {
    color: #fff;
    font-size: 100px;
  }
  label {
    position: relative;
    top: auto;
  }
}

.event-art {
  border: 1px solid $font-field-color;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  min-height: 250px;

  input {
    display: none;
  }

  [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    display: none;
  }

  [type="radio"]:checked + img:after, [type="radio"].with-gap:checked + img:after {
    background-color: #ff0000;
    border: 1px solid $main-color;
  }

  label {
    padding: 0px;
  }

}

.event-art:hover {
  border: 1px solid $main-color;
  cursor: pointer;
}

.event-art::active {
  border: 1px solid $main-color;
  cursor: pointer;
}

span {
  margin-bottom: 10px;
  display: inline-flex;
  vertical-align: middle;

}

fieldset {
  border: 0 !important;
}

.fields-col {
  padding: 30px 40px !important;
}

.edit-button {
  margin-left: 10px;
}

.profileEditCheckboxes label {
  margin-right: 10px;
  margin-bottom: 10px;
}

.selectedType {
  border: 1px solid $main-color !important
}



.cloudCenter {
  margin-top: 78px;
}

.checkbox_label{
  padding-right: 10px;
}