<main>
    <div class="container">
        <h1>{{(currentgroup)?.title}}</h1>
        <div class="row white " >

            <div class="col s12 m12 bild-grey">
                <div class="image-field">
                    <img  src="{{IMAGE_URL}}{{(currentgroup)?.photo?.name}}">
                </div>
            </div>
            <div class="col s12 m8 white">
                <div class="row infoRow">
                    <div class="col s12 m12">
                      {{(currentgroup)?.description}}
                    </div>
                </div>
            </div>
            <div class="col s12 m4 event-grey">
                <div class="row infoRow" >
     
                    <div class="col s12">
                        <h5>Ersteller</h5>
                        <div class="row">
                            <div class="col s12 m12 l3">
                                <div class="round"> 
                                    <a [routerLink]="['/profile/' + (currentgroup)?.host?.id]"> 
                                        <img width="80" alt="{{(currentgroup)?.host?.avatar?.name}}" src="{{IMAGE_URL}}small-{{(currentgroup)?.host?.avatar?.name}}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col s12 m12 l9"><span >{{(currentgroup)?.host.firstname}} {{(currentgroup)?.host.lastname}}<br />{{(currentgroup)?.host.company}}<br />{{(currentgroup)?.host.career_level}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s12 m12 bild-grey">
                <div class="row infoRow">
                    <div class="col s12 m12 center">
                        Bitte denk daran, dass die Anmeldung zur Gruppe bindend ist<br /><br />
                        <a *ngIf="isAttended" (click)="cancelAttendanceGroup($event)"  class="waves-effect waves-light orange btn">
                        Abmelden
                        </a>
                        <a *ngIf="!isAttended" (click)="attendGroup()"  class="waves-effect waves-light orange btn">
                        Gruppe beitreten
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 white">
                <div class="row infoRow">
                    <div class="col s12 m12 l12">
                        <h5>Mitglieder<small>: {{(currentgroup)?.user_count}}</small> </h5>
                        
                        <div class="row" *ngFor = "let user of (currentgroup)?.users" >
                            <div style="float:left;" class="col s12 m6 l6">
                                <div id="user{{user.id}}" class="col s12 m12 l3">
                                    <div class="round">
                                        <a [routerLink]="['/profile/' + user.id]"> 
                                            <img width="80" alt="{{user?.name}}" src="{{IMAGE_URL}}small-{{user?.avatar?.name}}"/>
                                        </a>
                                    </div>
                                    </div>
                                    <div class="col s12 m12 l9"><span > {{user.firstname}} {{user.lastname}}<br /> {{user.company}}<br /> {{user.career_level}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    <a [routerLink]="['/group']" class="waves-effect waves-light orange btn">
            Zurück zur Übersicht
            </a>
    </div>


            <div id="modalDeleteGroup" class="modal">
            <div class="modal-content">
                <p class="black-text">Bist du sicher, dass du das Event löschen willst?<br> Alle angemeldeten Teilnehmer werden benachrichtigt.</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="deleteGroup(true)" >Ja, löschen</button>
                <a (click)="deleteGroup(false)"  class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>

        <div id="modalCancelAttendanceGroup" class="modal">
            <div class="modal-content">
                <p class="black-text">Bist du sicher, dass du den Teilnehmer abmelden willst?</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="cancelAttendanceGroup(true)" >Ja</button>
                <a (click)="deleteGroup(false)"  class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>

</main>
