<main>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="groupForm">
            <h1>Neue Gruppe erstellen</h1>
            <div class="row">
                <div class="col s12 m8 l8 white">
                    <div class="row infoRow">
                        <div class="col s12">
                            <h5>Beschreibe deine Gruppe</h5><br/>


                            <div class="row ">
                                <div class="input-field col s6">
                                    <input formControlName="name" id="name" type="text" class="validate" required>
                                    <label for="name">Titel der Gruppe</label>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="input-field col s6">
                                    <textarea formControlName="description" id="description" type="text" class="validate materialize-textarea" required>
                                    </textarea>
                                    <label for="name">Kurzbeschreibung</label>
                                </div>
                            </div>

                            

                            <label for="grouphoto">Bild Hochladen</label>
                            <input   id="grouphoto" name="groupphoto" type="file" ng2FileSelect [uploader]="uploader" (change)="enableConfirm()" accept="image/*"  />

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="submit" class="waves-effect waves-light orange btn" value="Gruppe speichern">
                </div>
            </div>
        </form>
    </div>
</main>
