<main>
    <div class="container">
        <div class="row">
            <div class="col s12 l6 m6">
                <h1>Gruppen<a class="btn-floating  orange "  style="margin-left:20px;" [routerLink]="['/group/new' ]" ><i class="material-icons " >add</i></a></h1>

            </div>
        </div>
        <div class="row filter-row">
        <div class="row">
            <div class="col l4 m6 s12" *ngFor="let group of groups"  >
                <div class="card big hoverable">
                    <div class="card-image ">
                        <img src="{{IMAGE_URL}}{{(group)?.photo?.name}}"> 
                    </div>
                    <div class="card-content group">
                        <div class="card-title activator center-align">{{group.name}}</div>
                        <div class="center-align "><p class="group-description">{{group.description}}</p></div>

                    </div>

                        <div class="card-action">
                            <a class="waves-effect orange waves-light btn " [routerLink]="['/group/' + group.id]">Ansehen</a>
                        </div>


                </div>

            </div>
        </div>



    </div>
    </div>


</main>