
<div class="login-background"></div>
<div class="container row">
	<div class="col s8 container-table ">
		<div class="row row-flex">
	<div class="login-logo col s12 m6">
		<img src="/img/QH-01_weiss-300.png">
	</div>
	<div class="login-form col s12 m6">
			<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" >		
				<div class="row">
					<div class="input-field col s12">
						<h1>Login</h1>
					</div>
				</div>
					<div class="row" >
							<div class="input-field col s12">
								<input placeholder="Email" type="email" class="validate" formControlName="email"  >
								<!--<p *ngIf="loginForm.controls.email.errors">This field is required!</p>-->
							</div>    
					</div>
					<div class="row" >
							<div class="input-field col s12">
								<input placeholder="Passwort" type="password" class="validate" formControlName="password"  >
								<!--<p *ngIf="loginForm.controls.password.errors">This field is required!</p>-->
							</div>    
					</div>
					 
					 <div class="row row-flex">
						<div class="input-field col s12 m6">
								<!--<a [routerLink]="['/password']" class="button button--clear" href="#">Passwort vergessen?</a>-->	
								<a  class="button button--clear" [routerLink]="['/password']">Passwort vergessen?</a>
							</div>
							<div class="input-field col s12 m6">
							<button type="submit" class="btn btn-default rounded">Anmelden</button>
							</div>
							
					</div>
					<div class="row row-flex" style="margin-top:20px"> 
						<a [routerLink]="['/register']" ><b>Noch kein Mitglied? Jetzt hier registrieren</b></a>
					</div>
			</form>
	
	</div>
	</div> 
</div>
</div>
