$main-color:#E84E04;
$text-color:#000;


main{
	background-color:$main-color;
  background-image:url(../public/img/test_background.png);
}


.btn{
  background-color:$main-color;
  font-size: 14px;
  padding: 0 10px;
}
.container-table {
    display: table;
    margin:0px auto !important;
    background-color:white;
    float:inherit;
    padding:0px;

   
    
    .row-flex{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
       
       margin:0px;
       padding:0px;
    }
}
.login-logo{
	background-color:$main-color;
  align-content: center;
  align-items: center;
  display: flex;
  img{
    width:70%;
    padding:30px;
    margin:0px auto;
  }
}

.login-form {
  background-color:white;
  form{
    padding:20px;
  }
  input{
    color:$text-color;
    margin:0px;
  }
  h1{
    color:$text-color;
    float:left;
   font-size:3em;
    font-weight:600;
    margin:0px;
  }
  .vertical-center-row {
    vertical-align: middle;
    width:100%;
  }
  .row{
    margin-bottom:10px;
  }


}



