<div class="login-background"></div>
<div class="container row">
    <div class="col s8 container-table ">
        <div class="row row-flex">
            <div class="login-logo col s12 m6">
                <img src="/img/QH-01_weiss-300.png">
            </div>
            <div class="login-form col s12 m6">
                <h2 *ngIf="!token" class="qc-header">Passwort zurücksetzen</h2>
                <h2 *ngIf="token" class="qc-header">Neues Passwort erstellen</h2>
                <div *ngIf="!token">
                    <p *ngIf="!isSent">Gib hier deine E-Mail-Adresse an, mit der du dich auf der Quadriga Circle-Plattform angemeldet hast. Wir schicken dir danach einen Link an diese Adresse, mit dem du ein neues Passwort einrichten kannst.</p>
                    <p *ngIf="isSent">
                        Sofern deine Email im System bekannt ist wurde dir eine Email gesendet. Bitte schaue in deinen Posteingang.<br>
                        <br>
                        Wir haben dir eine E-Mail an deine im Quadriga Circle hinterlegte E-Mail-Adresse geschickt. Wenn du auf den Link in der E-Mail klickst, wirst Du auf eine Seite weitergeleitet, auf der du dein neues Passwort erstellen kannst.
                        <br><br>
                        Keine Mail zu sehen? Dann schau bitte auch, ob unsere E-Mail versehentlich im Spam-Ordner (statt im Posteingang) gelandet ist. Wenn du nach 1 Stunde noch immer keine Mail erhalten hast, versuch es bitte erneut.
                    </p>
                </div>
                <br/>
                <form  *ngIf="!token && !isSent" (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
                    <label for="email">E-Mail</label>
                    <input formControlName="email" >
                    <br/>
                    <br/>
                    <input class="waves-effect waves-light orange btn" type="submit" value="Passwort zurücksetzen" [disabled]="!passwordForm.valid" >
                    <br/>
                    <br/>
                    <br/>
                </form>
                <form  *ngIf="token && !isSent"  (ngSubmit)="onSubmitPassword()" [formGroup]="passwordResetForm">
                    <label for="password">Neues Passwort</label>
                    <input formControlName="password" type="password"  >
                    <br/>
                    <br/>
                    <label for="password_repeat">Neues Passwort zur Bestätigung</label>
                    <input formControlName="password_repeat" type="password" >
                    <br/>
                    <br/>
                    <input class="waves-effect waves-light orange btn" type="submit" value="Neues Passwort speichern" [disabled]="!passwordResetForm.valid" >
                    <br/>
                    <br/>
                    <br/>
                </form>

            </div>
        </div>
    </div>
</div>
