
<div class="login-background"></div>
<div class="container row">
	<div class="col s8 container-table ">
		<div class="row row-flex">
	<div class="login-logo col s12 m6">
		<img src="/img/QH-01_weiss-300.png">
	</div>
	<div class="login-form col s12 m6">
			<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" >		
				<div class="row">
					<div class="input-field col s12">
						<h1>Registrieren</h1>
					</div>
                    <div class="col s12">
                        <p>Melde dich jetzt an, um vom Know-how deiner Kollegen zu profitieren und dein Wissen zu teilen</p>
                    </div>
				</div>
					<div class="row" >
							<div class="input-field col s12">
								<input placeholder="Email" type="email" class="validate" formControlName="email"  >
								<!--<p *ngIf="registerForm.controls.email.errors">This field is required!</p>-->
							</div>    
					</div>
					<div class="row" >
							<div class="input-field col s12">
								<input placeholder="Passwort" type="password" class="validate" formControlName="password"  >
								<!--<p *ngIf="registerForm.controls.password.errors">This field is required!</p>-->
							</div>    
					</div>
					 
					 <div class="row row-flex">
							<div class="input-field col s12 m6">
								<a [routerLink]="['/']" class="button button--clear" >Zurück zum Login</a>
							</div>
							<div class="input-field col s12 m6">
							<button type="submit" class="btn btn-default">Anmelden</button>
							</div>
					</div>
			</form>
	
	</div>
	</div> 


            <input type="hidden" data-target="modal1" jquery="leanModal">
            <div id="modal1" class="modal">
            <div class="modal-content">
                <p class="black-text">Deine Registrieung ist nun abgeschlossen. Um Quadriga-circle vollständig zu nutzen bitte deine Profildaten auf der folgenden Seite eintragen.</p>
            </div>
            <div class="modal-footer">
                <a [routerLink]="['/profile/edit']" class=" modal-action modal-close waves-effect waves-green btn">Ok, Ich verstehe</a>
            </div>
            </div>
</div>