<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <router-outlet>
    <qap-sidebar ></qap-sidebar>
  </router-outlet>

<footer>
</footer>
