// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}
$background-color:#d3cece;
$side-bar-color:#434241;
$hover-color:#393837;
$profile-color:#545352;
$main-color:#E84E04;

body{
  background-color:$background-color;
}

header {

}
.navbar{
  // padding-left: 270px;
  // line-height: 1!important;
  height: auto!important;
  a{
    font-size:16px;
  }
}

nav {
  background: transparent ; 
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
#slide-out{
  background-color:$side-bar-color;
  display: flex;
    height: calc(100%);
    flex-direction: column;
  .login a{
    padding:0px;
    height:auto;
    text-align: center;
  }
  li{
    width:100%; 
    cursor:pointer;
  }
  a{
    text-align: left;
    width: 100%;
    padding-left:50px;
    color:#fff;
  } 
  i{
    color:$profile-color;
  }
  a:active, a:hover{
      font-weight:600;
      color:#fff;
      
      i{
         color:#fff;
      }
  }
  .profile{
    background-color:$profile-color;
    height:120px; 
    padding:20px;
    color:#fff;
    .round{
      border-radius: 70px;
      float: left;
      height: 70px;
      width: 70px;
      overflow:hidden;
      margin:0px 20px 0px 10px;
    }
    img{
     width:80px;
    }
    span{
      display:inline-flex;
      margin-top:20px;
    }
  }
 .footer {
   padding-left:20px;
   background-color:$hover-color;
   bottom:0px;
   position:absolute;
    a{
      float:left;
      height:auto;
      width:auto;
      padding:0px;
    }
    a.abmelden{
      margin-left:30px;
      color:$profile-color;
      i{
        margin:0 32px 0 0; 
        }
        
  }
  i{
    margin:0px 20px 0px 0px;
  }
}
a.abmelden:hover{
  color:#fff !important;
}
}

.active{
  border-left: 3px solid $main-color;
}
