
  <nav id="sidebar" class="navbar" >
    <ul id="slide-out" class="side-nav fixed">
      <li class="login">
          <div class="login-logo">
            <a [routerLink]="['/']" ><img src="/img/QH-01_weiss-300.png"></a>
        </div>
        </li>
    <li (click)="selectedMenu = 1" [ngClass]="{'active': selectedMenu==1 }" [routerLink]="['/profile/' + (qapuserprofile | async)?.id]" class="profile ">
        <div class="round"><img alt="{{(qapuserprofile | async)?.name}}" src="{{IMAGE_URL}}small-{{(qapuserprofile | async)?.avatar?.name}}" /></div>
        <span style="line-height:2px;"> {{(qapuserprofile | async)?.firstname}} {{(qapuserprofile | async)?.lastname}} </span> 
    </li>
      <li class="uebersicht"><a (click)="selectedMenu = 0" [ngClass]="{'active': selectedMenu==0 }" [routerLink]="['/home']" ><i class="small material-icons">dashboard</i>Übersicht</a></li>
      <li class="nachrichten"><a (click)="selectedMenu = 2" [ngClass]="{'active': selectedMenu==2  }" [routerLink]="['/messages']"  ><i class="small material-icons">email</i>Nachrichten</a></li>
      <li class="events"><a (click)="selectedMenu = 3" [ngClass]="{'active': selectedMenu==3  }" [routerLink]="['/events']" ><i class="small material-icons">perm_contact_calendar</i>Events</a></li>
      <li class="mitglieder"><a (click)="selectedMenu = 4" [ngClass]="{'active': selectedMenu==4 }" [routerLink]="['/profiles']" ><i class="small material-icons">supervisor_account</i>Mitglieder</a></li>
      <li class="Gruppen"><a (click)="selectedMenu = 5" [ngClass]="{'active': selectedMenu==5  }" [routerLink]="['/group']" ><i class="small material-icons">group_work</i>Gruppen</a></li>
      <li class="settings footer">
        <a ><i class="small material-icons">settings</i></a>
        <a ><i class="small material-icons">info_outline</i></a>
        <a (click)="logout()" class="abmelden"><i class="small material-icons">power_settings_new</i>Abmelden</a>
      </li>
  
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse" materialize="sideNav"><i class="material-icons">menu</i></a>
  </nav>

