
@font-face{
  font-family:"Proxima Nova Bold";
  src:url("../public/fonts/1539032/7fbce033-e997-47ad-885e-dff5c157f4b6.eot?#iefix");
  src:url("../public/fonts/1539032/7fbce033-e997-47ad-885e-dff5c157f4b6.eot?#iefix") format("eot"),url("../public/fonts/1539032/101e9e4e-32d6-418e-a770-3f37ae910c72.woff2") format("woff2"),url("../public/fonts/1539032/14f0515c-3586-450f-b1d1-b597aa8a104d.woff") format("woff"),url("../public/fonts/1539032/9ad334ea-1614-418d-ae42-bba67cb79274.ttf") format("truetype");
  font-weight:bold;
  font-style:normal;
}
@font-face{
  font-family:"Proxima Nova";
  src:url("../public/fonts/1539042/4d54327f-d317-4d88-bdac-1edbd6f9b677.eot?#iefix");
  src:url("../public/fonts/1539042/4d54327f-d317-4d88-bdac-1edbd6f9b677.eot?#iefix") format("eot"),url("../public/fonts/1539042/1bfff5fb-2540-4d1d-9f13-0afec7ba3c41.woff2") format("woff2"),url("../public/fonts/1539042/be2bfc33-e5c3-4b44-9c4d-3f1249e26a5a.woff") format("woff"),url("../public/fonts/1539042/a46943c3-227c-44d3-aa50-e5f87f7cec12.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"Proxima Nova Extrabold";
  src:url("../public/fonts/1540393/eaffcc3a-8b48-4e09-b09d-419c1ddf4571.eot?#iefix");
  src:url("../public/fonts/1540393/eaffcc3a-8b48-4e09-b09d-419c1ddf4571.eot?#iefix") format("eot"),url("../public/fonts/1540393/ced073da-c451-4dea-99e1-6ebffd7a02c1.woff2") format("woff2"),url("../public/fonts/1540393/6f12632d-c10c-4b34-9ae8-50ab8eb604e5.woff") format("woff"),url("../public/fonts/1540393/2e549e47-584f-442c-b25c-59c6619ed0db.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
$main-color:#E84E04;
$background-color:#d3cece;
$background-input-field:#e5e2e2;
$link_farbe: #645f5f;
$font-field-color: #a1a1a1;
body, main, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova" !important;
}

/*[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after,
.pagination li.active{
  background-color:$main-color;
}*/
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
  border-color:$main-color;
}
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid{
  border-bottom: 1px solid $main-color;
  box-shadow: 0 1px 0 0 $main-color;
}
.dropdown-content li>a, .dropdown-content li>span{
  color:$main-color;
}
a{
  cursor:pointer;
}

body {
  background-color: $background-color;
}

.login-background {
  background-image: url(../public/img/test_background.png);
  background-position: contain;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: -100;
}

.login-logo {
  background-color: $main-color;
  align-content: center;
  align-items: center;
  display: flex;

  img {
    width: 70%;
    padding: 30px;
    margin: 0px auto;
  }
}

.welcome-message {
  color: $link_farbe;
  font-size: 20px;
  margin: 20px 0px;
}

.btn {
  border-radius: 20px;
  padding: 0px 35px;
  text-transform: inherit;
}

.infoRow {
  padding: 20px 45px;
  .col {
    padding: 10px 10px;
  }
}

.orange {
  background-color: $main-color !important;
}

.orange-text {
  color: $main-color !important;
}

header, main, footer {
  padding-left: 300px;
}

.round {
  height: 100%;
  width: 100%;
  img{
    border-radius:90px;
    width:100%;
    max-width:80px;
  }
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}


.container{
  margin-top:50px;
  width:85%;
}
i {
  line-height: -1px;
  color: $link_farbe;
  margin-right: 15px;
  
}
i.right{
    position: absolute !important;
    padding: 4px;
    float:inherit !important;
    margin-left: 0px !important
  }
.filter-row {
  font-size: 20px;
  input {
    height: auto;
  }
  a{
    font-size:18px;
  }
}

b {
  color: #000;
  font-family: Proxima Nova Extrabold;
  font-size: 16px;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $link_farbe;
  font-size: 18px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $link_farbe;
  opacity: 1;
  font-size: 18px;
}

::-moz-placeholder, :-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $link_farbe;
  opacity: 1;
  font-size: 18px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $link_farbe;
  font-size: 18px;
}

/*FONTS*/
a {
  color: $link_farbe;

}

h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 30px 0px 20px 0px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 30px 0px 0px 0px;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

h5 {
  font-size: 1.4rem;
  font-weight: 600;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

//RSS 
.rss-description .img-responsive {
  width: 190px !important;
  height: auto;

}
.rss-description .description {
  height: 60px;
  overflow: hidden;
  color: grey;
  font-size: 16px;
}

.rss-description .description{
  height: 60px;
  overflow: hidden;
  color:grey;
  font-size: 15px ;
}
.card {
  .card-image {
    max-height:40% !important;
  }
  .card-image img{
    height:auto;
    width:100%;
    
  }
  .card-title {
    font-family: "Proxima Nova Extrabold";
    line-height: initial;
    padding: 20px 0px 0px;
    font-size:26px;
    line-height: 32px !important;
    font-weight:800;
    min-height:80px;
  }
  .card-action{
    border-top:none;
  }


}
.card-action {
  border-top: none;
  text-align: center;
  .btn {
    display: block;
    text-transform: inherit;
    max-width: 200px;
    margin: 0px auto;
    bottom:20px;
  }
}
//Calendar Colors
.picker__date-display{
  background-color: #ec5a13 !important ;
}
.picker__weekday-display{
  background-color: $main-color !important ;
}
.picker__close, .picker__today{
  color: #ec5a13 !important ;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #ec5a13 !important ;
}

.picker__day.picker__day--today{
  color: #ec5a13 !important ;
}

.picker__nav--prev:hover, .picker__nav--next:hover{
  background-color: #ec5a13 !important ;
}

//Calendar Colors
