<main>
    <div class="container">
        <h1>Nachrichten</h1>
        <div class="row filter-row">
            <form action="#">
                <div class="col s12 m8 l8">
                    <input (click)="filterMessage('');" checked class="with-gap" name="group1" type="radio" id="test1"/>
                    <label (click)="filterMessage('');" for="test1"> Neueste Nachrichten</label>
                    <input (click)="filterMessage('unread');"class="with-gap" name="group1" type="radio" id="test2"/>
                    <label (click)="filterMessage('unread');" for="test2">Ungelesen</label>
                    <input (click)="showSentMessages('');" class="with-gap" name="group1" type="radio" id="test3"/>
                    <label (click)="showSentMessages('');"for="test3">Gesendet</label>
                </div>
                <div class="col s12 m4 l4">
                    <a class="waves-effect orange waves-light btn right" [routerLink]="['/messages/new' ]">Neue
                        Nachricht schreiben</a>
                </div>

            </form>
        </div>
        <div class="row ">
            <div *ngIf="!showSent" class="col s12 m8 l8 white">
                <div class="row message" *ngIf="!(currentuser)?.my_messages?.length ">
                    <p> Keine Nachricht im Inbox </p>
                </div>
                <div class="row message" *ngIf="((currentuser)?.my_messages | messagefilterpipe:messageStatusFilter)?.length === 0">
                    <p> Keine Ungelesene Nachrichten </p>
                </div>
                <div class="row message" *ngFor="let message of (currentuser)?.my_messages | paginate: { itemsPerPage: 3, currentPage: p } | messagefilterpipe:messageStatusFilter  ">
                    <div class="col s12 m12 date">{{message.created_at}} Uhr</div>
                    <div class="col s12 m12 l3">
                        <div class="round">
                            <a [routerLink]="['/profile/' + message.sender.id]"> 
                                <img width="100" alt="{{(qapuserprofile | async)?.name}}" src="{{IMAGE_URL}}small-{{message.sender?.avatar?.name}}"/>
                            </a>
                        </div>
                    </div>
                    <a [routerLink]="['/messages/' + message.id]"> 
                        <div class="col s12 m12 l9" ><span><h6>{{message.sender.firstname}} {{message.sender.lastname}} <i *ngIf="message.status=='unread' " class="material-icons " >markunread</i><i *ngIf="message.status=='read' " class="material-icons " >drafts</i></h6>{{message.subject}} </span>
                            <p>{{message.text}}</p>
                        </div>
                    </a>
                </div>
            </div>


            <!-- Gesendet -->
            <div *ngIf="showSent" class="col s12 m8 l8 white">
                <div class="row message" *ngIf="!(currentuser)?.my_messages?.length ">
                    <p> Keine gesendete Nachrichten </p>
                </div>
                <div class="row message" *ngFor="let message of (currentuser)?.sent_messages | paginate: { itemsPerPage: 3, currentPage: p } ">
                    <div class="col s12 m12 date">{{message.created_at}} Uhr</div>
                    <div class="col s12 m12 l3">
                        <div class="round">
                            <a [routerLink]="['/profile/' + message.sender.id]"> 
                                <img width="100" alt="{{message.sender.firstname}}" src="{{IMAGE_URL}}small-{{message.sender?.avatar?.name}}"/>
                            </a>
                        </div>
                    </div>
                    <a [routerLink]="['/messages/' + message.id]"> 
                        <div class="col s12 m12 l9" ><span><h6>{{message.sender.firstname}} {{message.sender.lastname}}</h6>{{message.subject}}</span><br>
                        <small *ngIf="message.recipients">
                            An :
                            <small *ngFor="let recipient of message.recipients">
                            {{recipient.firstname}} {{recipient.lastname}}
                            </small>
                        </small>   
                        <p>{{message.text}}</p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col s12 m4 l4 grey-background">
                <div class="row kontakte">
                    <div class="col s12 m12 l12 white main">

                        <h4>Kontakte</h4>
                        <div class="row person" *ngFor="let user of profiles">
                            <div class="col s12 m12 l4 left">
                                <div class="round">
                                    <a [routerLink]="['/profile/' + user.id]"> 
                                        <img width="100" alt="{{user?.name}}" src="{{IMAGE_URL}}small-{{user?.avatar?.name}}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col s12 m12 l8"><span><h6>{{user.firstname}} {{user.lastname}}</h6>{{user.company}} {{user.city}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <pagination-controls directionLinks="false" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</main>