$background-color: #d3cece;
$font-field-color: #a1a1a1;
.grey-background {
  background-color: $background-color;
  .row.kontakte {
    margin-left: 1em;

  }
}

.filter-row {
  .col {
    padding: 0px;
  }
  label {
    margin: 0px 10px 0px 0px;
    padding-left: 30px;
  }
  form{
    padding:45px 0px;
  }
  @media (max-width: 992px) {
    .right{
      float: left !important;
  }
}
  
}

.message {
  padding: 30px;
  border-bottom: 1px solid $background-color;
  color: $font-field-color;
  margin-bottom: 0px;
   .round {
    height: 100%;
    width: 100%;
    img{
      border-radius:90px;
      width:100%;
      max-width:90px;
    }
  }
  .date {
    text-align: right;

  }
  h6 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    font-family: "Proxima Nova Extrabold";
  }
}

.kontakte {
  color: $font-field-color;
  .col.main {
    padding: 40px;
  }
  .round {
    height: 100%;
    width: 100%;
    img{
      border-radius:90px;
      width:100%;
      max-width:60px;
    }
  }
  h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
    font-family: "Proxima Nova Extrabold";
    padding: 0px 0px 30px;
  }
  h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    font-family: "Proxima Nova Extrabold";
  }
}

.pagination {
  text-align: center;
  a{
    pointer-events: none;
   cursor: default;
  }
}

$background-color: #d3cece;
form {
  padding: 45px;
  i {
    color: #fff;
    background-color: $background-color;
  }
}