<main>
    <div class="container">
        <div class="row">
            <div class="col s12 l6 m6">
        <h1>Nachricht schreiben</h1>
        </div>
        </div>
        <div class="row">
            <div class="col s12 m8 l8 white">
              <form [formGroup]="messageForm" >
                    <div class="row ">
                        <div class="input-field col s12 l6 m6">
                            <a class=" "  materialize="dropdown" data-constrainwidth="false"
                            data-beloworigin="true" data-activates='dropdown3' ><i class="material-icons left " >add</i> Weitere Empfänger</a>
                            <ul id='dropdown3' class='dropdown-content'>
                                <li *ngFor="let user of profiles" ><a (click)="contactPerson(user);">{{user.firstname}} {{user.lastname}}</a></li>
                            </ul>
                            <p id="name" type="text" class="validate" >
                                {{contactEmailPerson}}
                            </p>
                        </div>
       
                    </div>
                    <div class="row ">
                        <div class="input-field col s6">
                            <input formControlName="subject" id="betreff" type="text" >
                            <label for="betreff">Betreff</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="input-field col s12">
                            <textarea formControlName="text"  id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Ihre Nachricht</label>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m3 l8 ">
                <a class="waves-effect orange waves-light btn left" [routerLink]="['/messages']" >zurück zur Übersicht</a>
                <a (click)="sendMessage()" class="waves-effect orange waves-light btn right" >Nachricht senden</a>
            </div>
        </div>
    </div>
</main>