<main>
    <div class="container">
        <h1>{{(currentmessage)?.subject}}<a (click)=showReply() class="btn-floating  orange "  style="margin-left:20px;" ><i class="material-icons " >reply</i></a><a (click)=showDeleteModal() class="btn-floating  orange "  style="margin-left:20px;" ><i class="material-icons " >delete</i></a></h1>

        <div class="row white " >

            <div class="col s12 m8 white">
                <div class="row infoRow">
                    <div class="col s12 m12">
                      {{(currentmessage)?.text}}
                    </div>
                    <form style="padding:0 !important" *ngIf="reply" [formGroup]="messageForm" >
                            <div class="input-field col s12">
                                <textarea formControlName="text"  id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Ihre Nachricht</label>
                            </div>
                        <div class="row">
                            <div class="col s12 m3 l8 ">
                                <a (click)="sendMessage()" class="waves-effect orange waves-light btn" >Nachricht senden</a>
                            </div>
                        </div>
                    </form>
                </div>
      
            </div>
            <div class="col s12 m4 event-grey">
                <div class="row infoRow" >
     
                    <div class="col s12">
                        <h5>Von</h5>
                        <div class="row">
                            <div class="col s12 m12 l3">
                                <div class="round">
                                    <a [routerLink]="['/profile/' + (currentmessage)?.user.id ]"> 
                                        <img width="80" alt="{{(currentmessage)?.user?.avatar?.name}}" src="{{IMAGE_URL}}small-{{(currentmessage)?.user?.avatar?.name}}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col s12 m12 l9"><span >{{(currentmessage)?.user.firstname}} {{(currentmessage)?.user.lastname}}<br />{{(currentmessage)?.user.company}}<br />{{(currentmessage)?.user.career_level}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </div>
            <a [routerLink]="['/messages']" class="waves-effect waves-light orange btn">
                Zurück
            </a>
    </div>


        <div id="modalDeleteMessage" class="modal">
            <div class="modal-content">
                <p class="black-text">Bist du sicher, dass du die Nachricht löschen willst?</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="deleteMessage(true)" >Ja, löschen</button>
                <a (click)="deleteMessage(false)"  class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>
</main>
