<main>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
            <h1>Neues Event erstellen</h1>
            <div class="row white">

                <div class="col s12 m12 bild-grey">
                    <div ng2FileDrop  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"  (onFileDrop)="uploadEventPicTemp()" [uploader]="uploader" class="file-field input-field image-upload" [ngStyle]="{'background-image': 'url(' +previewPicPath+ ')'}" id="previewPic">
                        <!--<input id="eventavatar" ng2FileSelect type="file" (click)="refreshFileSelect()" (change)="uploadEventPicTemp()" [uploader]="uploader" name="eventavatar" accept="image/*">-->
                        <i [ngClass]="{'cloudCenter': previewPicPath}" [hidden]=previewPicPath class="material-icons">cloud_upload</i>
                        <h5 [hidden]=previewPicPath>Titelbild ablegen</h5>
                        <label [hidden]=previewPicPath>Hiermit bestätige ich, dass ich alle Rechte am von mir
                            hochgeladenen Bild halte. </label>
                        <!--  <div class="row">
                               <input class="file-path validate" type="text">
                          <input type="checkbox" id="copyright_confirm" checked disabled/>
                          </div>-->
                    </div>
                </div>

                <div class="col s12 m8 white">
                    <div class="row infoRow">
                        <div class="col s12 m12">
                            <h5>Welche Art von Event bietest Du an?</h5>
                        </div>
                        <div class="col s12 m4 ">
                            <div class="event-art" id="talk"  [ngClass]="{'selectedType': eventType=='talk' }" (click) = 'toggleType("talk")'>
                                <input formControlName="type" name="type" type="radio" />
                                <label for="talk" class="eventNewRadio"><img src="img/talk.jpg"><br/>
                                    <b>Talk</b><br/>Klassisches one-to-many Format.
                                    Kollegen teilen Ihr Fachwissen zu einem bestimmten Thema
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m4 ">
                            <div class="event-art" id="workshop" [ngClass]="{'selectedType': eventType=='workshop' }"  (click) = 'toggleType("workshop")'>
                                <input formControlName="type" name="type" type="radio" />
                                <label for="workshop" class="eventNewRadio">
                                    <img src="img/workshop.jpg"><br/><b>Workshop</b><br/>Interaktives many-to-many
                                    Format, Kollegen entwickeln gemeinsam Ideen
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m4 ">
                            <div class="event-art" id="freizeit" [ngClass]="{'selectedType': eventType=='freizeit' }" (click) = 'toggleType("freizeit")'>
                                <input formControlName="type" name="type" type="radio" />
                                <label for="freizeit" class="eventNewRadio">
                                    <img src="img/freizeit-sport.jpg"><br/><b>Freizeit &amp; Sport</b><br/>Kollegen
                                    organisieren Treffen zu Freizeit-Themen außerhalb der Arbeitszeit</label>
                            </div>
                        </div>
                    </div>

                    <div class="row infoRow">
                        <div class="col s12">
                            <h5>Beschreibe dein Event</h5>

                            <div class="input-field col s12">
                                <input formControlName="title" id="title" type="text" required>
                                <label for="title">Titel des Events</label>
                            </div>

                            <div class="input-field col s12">
                                <textarea formControlName="description" id="about" class="materialize-textarea"
                                required></textarea>
                                <label for="description">Kurzbeschreibung des Events</label>
                            </div>

               
              
                    <fieldset>
                        <label>Schlagwörter</label>
                           <p class="eventNewCheckboxes"  *ngIf="eventType == 'freizeit'">
                                <span *ngFor="let freizeit_keyword of freizeit_keywords" >
                                    <input formControlName="{{freizeit_keyword}}"  type="checkbox" id="{{freizeit_keyword}}" name="customTopics[]" (click)="toogleTopic($event)"/>
                                    <label class="checkbox_label" attr.for="{{freizeit_keyword}}" >{{freizeit_keyword}}</label>
                                 </span>
                            </p>

                            <p class="eventNewCheckboxes"  *ngIf="eventType == 'talk'">
                                <span *ngFor="let talk_keyword of talk_keywords">
                                    <input formControlName="{{talk_keyword}}"  type="checkbox" id="{{talk_keyword}}" name="customTopics[]" (click)="toogleTopic($event)"/>
                                    <label class="checkbox_label" attr.for="{{talk_keyword}}" >{{talk_keyword}}</label>
                                </span>
                            </p>

                            <p class="eventNewCheckboxes" *ngIf="eventType == 'workshop'">
                                <span *ngFor="let workshop_keyword of workshop_keywords" >
                                    <input formControlName="{{workshop_keyword}}"  type="checkbox" id="{{workshop_keyword}}" name="customTopics[]" (click)="toogleTopic($event)" />
                                    <label class="checkbox_label" attr.for="{{workshop_keyword}}" >{{workshop_keyword}}</label>
                                </span>
                            </p>
                    </fieldset>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4 event-grey">
                    <div class="row infoRow">
                        <div class="col s12 ">
                            <h5>Wann findet dein Event statt?</h5>
                            <div class="row">
                                <div class="col s12 m4">
                                    <div>
                                        <input formControlName="start_date" name="start_date" required
                                               placeholder="Datum" type="date" class="datepicker"
                                               materialize="pickadate">
                                    </div>
                                </div>
                                <div class="col s12 m4">
                                    <div>
                                        <input formControlName="start_time" required name="start_time"
                                               placeholder="Beginn">
                                    </div>
                                </div>
                                <div class="col s12 m4">
                                    <div><input formControlName="end_time" required name="end_time" placeholder="Ende">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row infoRow">
                        <div class="col s12 ">
                            <h5>Wo findet dein Event statt?</h5>
                            <br>
                            <br>

                            <input required formControlName="host_company" type="text" name="company"
                                   placeholder="Firma">

                            <div class="row">
                                <div class="col s12 m10">
                                    <div>

                                        <input formControlName="host_street" required name="company_street"
                                               placeholder="Straße">
                                    </div>
                                </div>
                                <div class="col s12 m2">
                                    <div>

                                        <input formControlName="host_house_number" required
                                               name="company_house_number" placeholder="10">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m4">
                                    <div>
                                        <input formControlName="host_zip" required 
                                               placeholder="PLZ" value="10117">
                                    </div>
                                </div>
                                <div class="col s12 m8">
                                    <div>
                                        <input formControlName="host_city" required 
                                               placeholder="Stadt" value="Berlin"> 
                                    </div>
                                </div>
                            </div>
                            <div class="input-field">
                                <textarea formControlName="host_details" id="host_details"
                                          class="materialize-textarea" ></textarea>
                                <label style="left:0" for="host_details">Details</label>
                            </div>
                        </div>
                    </div>
                    <div class="row infoRow">
                        <div class="col s12">
                            <h5>Anzahl der Teilnehmer</h5>
                            <p>Du wirst benachrichtigt, sollten sich weniger oder mehr Kollegen anmelden</p>
                        </div>
                        <div class="col s6">
                            <label for="min_attendee">Min.</label>
                            <input formControlName="min_attendees" type="text" name="min_attendee" placeholder=""
                                   required value="6">
                        </div>
                        <div class="col s6">
                            <label for="max_attendee">Max.</label>
                            <input formControlName="max_attendees" type="text" name="max_attendee" placeholder=""
                                   required value="16">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="submit" class="waves-effect waves-light orange btn" value="Event speichern">
                </div>
            </div>
        </form>

    </div>

        <!--//New Event Modal Dialog-->
                    <input type="hidden" data-target="newEventModal" materialize="leanModal" [materializeParams]="[{dismissible: false}]">

                    <div id="newEventModal" class="modal">
                        <div class="modal-content">
                            <p class="black-text">Dein Event wurde erstellt. Möchtest du ein weiteres Event erstellen?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="clearForm()" >Ja, weiteres Event erstellen</button>
                            <a [routerLink]="['/events']" class=" modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
                        </div>
                    </div>
</main>
