<main>
    <div class="container">
        <div class="row">
            <div class="col s12 l6 m6">
                <h1>Events<a class="btn-floating  orange "  style="margin-left:20px;" [routerLink]="['/event/new' ]" ><i class="material-icons " >add</i></a></h1>
                   
            </div>
        </div>
        <div class="row filter-row">
            <div class="col s12 m4 l3">
                <a class='waves-light ' (click)="filterTopic('');" materialize="dropdown" data-constrainwidth="false"
                   data-beloworigin="true" data-activates='dropdown1'>{{topicSearchDefault}}<i class="material-icons right">keyboard_arrow_down</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a (click)="filterTopic('');">Fachgebiet</a></li>
                    <li><a (click)="filterTopic('Onboarding');">Onboarding</a></li>
                    <li><a (click)="filterTopic('Interne Tools');">Interne Tools</a></li>
                    <li><a (click)="filterTopic('Projektmanagement');">Projektmanagement</a></li>
                    <li><a (click)="filterTopic('Kommunikationsmanagement');">Kommunikationsmanagement</a></li>
                    <li><a (click)="filterTopic('Personalmanagement');">Personalmanagement</a></li>
                    <li><a (click)="filterTopic('Marketingmanagement');">Marketingmanagement</a></li>
                    <li><a (click)="filterTopic('Veranstaltungsmanagement');">Veranstaltungsmanagement</a></li>
                    <li><a (click)="filterTopic('Leadership');">Leadership</a></li>
                    <li><a (click)="filterTopic('IT-Management');">IT-Management</a></li>
                    <li><a (click)="filterTopic('Design');">Design</a></li>
                    <li><a (click)="filterTopic('Webentwicklung');">Webentwicklung</a></li>
                    <li><a (click)="filterTopic('Administration / Backoffice');">Administration / Backoffice</a></li>
                    <li><a (click)="filterTopic('Service');">Service</a></li>
                    <li><a (click)="filterTopic('Datenbankmanagement');">Datenbankmanagement</a></li>
                    <li><a (click)="filterTopic('Teamsport');">Teamsport</a></li>
                </ul>
                <br class="hide-on-med-and-up"/>
                <br class="hide-on-med-and-up"/>
            </div>
            <div class="col s12 m4 l3">
            
                
                <a class=' waves-light ' (click)="filterRegion('');" materialize="dropdown" data-constrainwidth="false"
                   data-beloworigin="true" data-activates='dropdown2'>{{regionSearchDefault}}<i class="material-icons right">keyboard_arrow_down</i></a>
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a (click)="filterRegion('');">Region</a></li>
                     <li *ngFor="let event of qapeventitems | async | qapremoveduplicate "> <a (click)="filterRegion([event.host_city]);">{{event.host_city}}</a></li>
                </ul> 
                <br class="hide-on-med-and-up"/>
                <br class="hide-on-med-and-up"/>
            </div>
            <div class="col s12 m4 l3">
                <input id="start_date_search" [(ngModel)]="start_date_search" name="start_date_search"
                       (ngModelChange)="filterDate($event);" placeholder="von" type="text" style="margin-top: -4px;"
                       class="datepicker" materialize="pickadate">
            </div>
            <div class="col s12 m4 l3">
                <input id="end_date_search" [(ngModel)]="end_date_search" name="end_date_search"
                       (ngModelChange)="filterDate($event);" placeholder="bis" type="text" style="margin-top: -4px;"
                       class="datepicker" materialize="pickadate">
            </div>
           
        </div> 
        <div class="row">
            <div class="col l4 m6 s12" *ngFor="let event of qapeventitems | async |  paginate: { itemsPerPage: 12, currentPage: p } | qapeventtopicsearch:topicSearch | qapeventsearch:searchQuery | qapeventtypesearch:typeSearch | qapeventregionsearch: regionSearch">
                <div class="card large hoverable">
                    <div class="card-image event-image">
                        <img src="{{IMAGE_URL}}{{(event)?.photo?.name}}"> 
                    </div>

                    <img class="event-preview__profile-image" alt="" src="">
                    <div class="card-content event">
                        <div class="event-date center-align"> {{event.endtime | amDateFormat: 'DD. MMMM YYYY'}} in {{ event.host_city }}</div>
                        <div class="card-title activator center-align">{{event.title}}</div>
                        <div class="event-description center-align ">{{event.description}}</div>
                        
                        <div class="card-action">
                            <a class="waves-effect orange waves-light btn " [routerLink]="['/events/' + event.id]">Details anzeigen</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <!--
                <div class="row">
                    <div class="col s12 m6 l8">
                        <a class='dropdown-button btn waves-effect orange waves-light grey darken-2' (click)="filterTopic('');" materialize="dropdown" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown1'>{{topicSearchDefault}}</a>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a (click)="filterTopic('');">Alle Themen</a></li>
                            <li><a (click)="filterTopic('Onboarding');">Onboarding</a></li>
                            <li><a (click)="filterTopic('Interne Tools');">Interne Tools</a></li>
                            <li><a (click)="filterTopic('Projektmanagement');">Projektmanagement</a></li>
                            <li><a (click)="filterTopic('Kommunikationsmanagement');">Kommunikationsmanagement</a></li>
                            <li><a (click)="filterTopic('Personalmanagement');">Personalmanagement</a></li>
                            <li><a (click)="filterTopic('Marketingmanagement');">Marketingmanagement</a></li>
                            <li><a (click)="filterTopic('Veranstaltungsmanagement');">Veranstaltungsmanagement</a></li>
                            <li><a (click)="filterTopic('Leadership');">Leadership</a></li>
                            <li><a (click)="filterTopic('IT-Management');">IT-Management</a></li>
                            <li><a (click)="filterTopic('Design');">Design</a></li>
                            <li><a (click)="filterTopic('Webentwicklung');">Webentwicklung</a></li>
                            <li><a (click)="filterTopic('Administration / Backoffice');">Administration / Backoffice</a></li>
                            <li><a (click)="filterTopic('Service');">Service</a></li>
                            <li><a (click)="filterTopic('Datenbankmanagement');">Datenbankmanagement</a></li>
                            <li><a (click)="filterTopic('Teamsport');">Teamsport</a></li>
                        </ul>
                        <br class="hide-on-med-and-up" />
                        <br class="hide-on-med-and-up" />
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="input-field" style="margin: 0; margin-top: -4px;">
                            <i class="material-icons prefix white-text" style="top: 8px;">search</i>
                            <input class="organge" type="text" placeholder="Suche in Titel, Beschreibung" ng-change="vm.visibleItems = vm.pageSize" [(ngModel)]="searchQuery">
                        </div>
                    </div>
                </div>
        
                <div class="event-list">
        
                    <div class="row">
        
                        <div class="col l4 m6 s12" *ngFor="let event of qapeventitems | async |qapeventtopicsearch:topicSearch | qapeventsearch:searchQuery" class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">
        
                            <div class="card large hoverable">
                               <div [hidden]="!event.isBookmarked" class="eventBookmark" (click)="toggleBookmark(event)"></div>
                                <div class="card-image event-image">
                                    <img alt="" src="https://app.intern.quadriga-circle.com/{{ event.img_preview }}">
                                </div>
                                <a [routerLink]="['/profile/', event.user.id ]"><img class="event-preview__profile-image" alt="" src="https://app.intern.quadriga-circle.com/{{ event.user.avatar_detail }}"></a>
                                <div class="card-content event">
                                    <div class="user-name center-align">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname }} <br ng-if="event.user.company"> {{ event.user.company }}</div>
                                    <div class="event-type center-align">{{ event.type | capitalize }}</div>
                                    <div class="divider" style="margin-top: 15px"></div>
                                    <div class="card-title activator center-align">{{ event.title }}</div>
                                    <div class="event-description center-align truncate">{{event.description}}</div>
                                    <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                                    <div class="event-date center-align">{{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}</div>
                                </div>
                                <div class="card-action">
                                    <a class="waves-effect orange waves-light btn right" [routerLink]="['/events/' + event.id]" [ngClass]="{disabled: (event.attendee_count >= event.max_attendees) }">Ansehen</a>
                                    <a class="waves-effect waves-light btn-flat left" (click)="toggleBookmark(event)">{{ !event.isBookmarked ? 'Merken' : 'Vergesssen' }}</a>
                                </div>
                                <div class="card-reveal">
                                    <div class="card-title grey-text text-darken-4" style="padding-right: 40px;">{{ event.title }}<i class="material-icons right" style="position: absolute; right: 20px; top: 25px;">close</i></div>
                                    <p>{{event.description}}</p>
                                </div>
                            </div>
        
                        </div>
        
                    </div>
                    <!--article *ngFor="let event of qceventitems | async |qceventtopicsearch:topicSearch | qceventsearch:searchQuery" class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">
                       <div class="bookmark-indicator" ng-click="toggleBookmark($event)"></div>
                            <div class="event-preview__header-image">
                                <img alt="" src="https://app.intern.quadriga-circle.com/{{ event.img_preview }}">
                            </div>
                            <img class="event-preview__profile-image" alt="" src="https://app.intern.quadriga-circle.com/{{ event.user.avatar_detail }}">
        
                            <span class="user-name">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname }} <br ng-if="event.user.company" > {{ event.user.company }}</span>
        
                            <span class="event-type">{{ event.type | capitalize }}</span>
                            <hr>
                            <h4 class="event-title"><a ui-sref="eventDetail({ event_id: event.id })">{{ event.title }}</a></h4>
                            <p class="event-description">{{ event.description }}</p>
                            <div class="event-topic" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                            <div class="event-date">
                                {{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}
                            </div>
        
                            <a class="button button--primary " [routerLink]="['/events/', event.id ]">Event ansehen</a>
                            <router-outlet></router-outlet>
                            <button class="button button--secondary" (click)="toggleBookmark(event)">{{ !event.isBookmarked ? 'Merken' : 'Vergessen' }}</button>
        
                            </article-->

    </div>


</main>