<main>
    <div class="container">
        <h1>{{(event | async)?.title}}</h1>
        <div class="row white " >

            <div class="col s12 m12 bild-grey">
                <div class="image-field">
                    <img  src="{{IMAGE_URL}}{{(event|async)?.photo?.name}}">
                </div>
            </div>
            <div class="col s12 m8 white">
                <div class="row infoRow">
                    <div class="col s12 m12">
                      {{(event | async)?.description}}
                    </div>
                </div>
            </div>
            <div class="col s12 m4 event-grey">
                <div class="row infoRow" >
                    <div class="col s12">
                        <h5>Datum</h5>
                        {{(event|async)?.endtime | amDateFormat: 'dddd, DD.MM.YYYY'}}
                            <br/>{{(event|async)?.time | amDateFormat: 'HH:mm'}} Uhr - {{(event|async)?.endtime | amDateFormat: 'HH:mm'}} Uhr
                    </div>
                    <div class="col s12">
                        <h5>Ort</h5>
                        {{(event | async)?.host_company}}<br />
                        {{(event | async)?.host_street}} {{(event | async)?.host_house_number}}<br />
                        {{(event | async)?.host_zip}} {{(event | async)?.host_city}}<br />
                        {{(event | async)?.host_details}}
                    </div> 
                    <div class="col s12">
                        <h5>Organisator</h5>
                        <div class="row">
                            <div class="col s12 m12 l3">
                                <div class="round"> <!--<img alt="{{(qapuserprofile | async)?.name}}"
                                                        src="{{IMAGE_URL}}small-{{(qapuserprofile | async)?.avatar?.name}}"/>-->
                                                        <img width="80" alt="{{(event | async)?.host?.avatar?.name}}"
                                                        src="{{IMAGE_URL}}small-{{(event | async)?.host?.avatar?.name}}"/>
                                </div>
                            </div>
                            <div class="col s12 m12 l9"><span >{{(event | async)?.host.firstname}} {{(event | async)?.host.lastname}}<br />{{(event | async)?.host.company}}<br />{{(event | async)?.host.career_level}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s12 m12 bild-grey">
                <div class="row infoRow">
                    <div class="col s12 m12 center">
                        Bitte denk daran, dass die Anmeldung zur Veranstaltung bindend ist und deine Teilnahme nur im Notfall abgesagt werden sollte. 
Weitere Infos findest du hier.<br /><br />
                        <a *ngIf="isAttended" (click)="cancelAttendanceEvent($event)"  class="waves-effect waves-light orange btn">
                        Abmelden
                        </a>
                        <a *ngIf="!isAttended" (click)="attendEvent()"  class="waves-effect waves-light orange btn">
                        Teilnehmen
                        </a>
                        <a *ngIf="currentUserIsOwner" (click)="showDeleteModal()"  class="waves-effect waves-light grey btn">
                        Event löschen
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 white">
                <div class="row infoRow">
                    <div class="col s12 m12 l12">
                        <h5>Teilnehmer</h5>
                        {{(event | async)?.attendee_count}}  von {{(event | async)?.max_attendees}}  Teilnehmer
                        <div class="row" *ngFor = "let attendee of (event|async)?.attendees" >
                            <div class="col s12 m6 l6">
                                <div id="attendee{{attendee.id}}" class="col s12 m12 l3">
                                    <div class="round"> 
                                        <a [routerLink]="['/profile/' + attendee.id]"> 
                                            <img width="80" alt="{{attendee?.name}}" src="{{IMAGE_URL}}small-{{attendee?.avatar?.name}}"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="col s12 m12 l9"><span > {{attendee.firstname}} {{attendee.lastname}}<br /> {{attendee.company}}<br /> {{attendee.career_level}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    <a [routerLink]="['/events/']"  class="waves-effect waves-light orange btn">
            Zurück zur Übersicht
            </a>
    </div>


            <div id="modalDeleteEvent" class="modal">
            <div class="modal-content">
                <p class="black-text">Bist du sicher, dass du das Event löschen willst?<br> Alle angemeldeten Teilnehmer werden benachrichtigt.</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="deleteEvent(true)" >Ja, löschen</button>
                <a (click)="deleteEvent(false)"  class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>

        <div id="modalCancelAttendanceEvent" class="modal">
            <div class="modal-content">
                <p class="black-text">Bist du sicher, dass du den Teilnehmer abmelden willst?</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="cancelAttendanceEvent(true)" >Ja</button>
                <a (click)="deleteEvent(false)"  class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>

</main>
