$link_farbe: #645f5f;
$event-date: #909090;

.container{
    color:#000;
   
}
.main-row{
    background-color:#fff;
}
.profileRow{
    background-color:#E4E2E3;
    margin-bottom:0px;
    font-size:16px;
    line-height: 0 !important ;
    .profileCol{
        margin:0px;
        padding: 0px;
    }

    .infoCol{
        margin:0px;
    }



    .infoCol *{
        line-height: 1.5 !important;
    }
}
.infoRow{
    background-color:#FFFFFF; 
}


span{
    margin-bottom:10px;
    display:inline-flex;
    vertical-align:middle;
  
} 

fieldset{
    border : 0 !important; 
}

.fields-col{
    padding: 30px 40px !important;

}

.edit-button{
    margin-left: 10px ;
}

.profileEditCheckboxes label {
  margin-right: 10px;
  margin-bottom: 10px;

}
.profile-study {
    color:$event-date;
    font-size:16px;
}
.profile-tags{
    font-size:18px;
    margin-top:20px;
 .tag {
    margin: 0 2px;
    background: transparent;
    padding: 0 7px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 12px;
}
}