    <main>
    <div class="container">
          <div class="row">
              <div class="col s12 l12 m9">
                <div class="row ">
                    <span><i class="material-icons">keyboard_arrow_left</i><a [routerLink]="['/profiles']">zurück zur Übersicht</a></span>
                </div>
                  <div class="row profileRow">
                      <div class="col s12 l6  profileCol">
                           <img alt="{{(currentuser)?.name}}" src="{{IMAGE_URL}}big-{{(currentuser)?.avatar?.name}}" />
                      </div>
                      <div class="col s12 l6  infoCol">
                          <qap-spinner class="spinner-info" [isRunning]="isRequesting"></qap-spinner>
                            <h2>{{ (currentuser)?.firstname }}{{ (currentuser)?.suffix }} {{ (currentuser)?.lastname }}<a *ngIf="!isRequesting" style="line-height:0!important" class="btn-floating btn-small waves-effect waves-light edit-button orange" [routerLink]="['/profile/edit']">
                            <i class="small material-icons">edit</i></a></h2>
                            <b> {{ (currentuser)?.company }}</b>
                            <br/>
                            <h4>{{ (currentuser)?.career_level }}</h4>
                            <b> {{ (currentuser)?.company }}</b>
                            <div>
                                {{ (currentuser)?.company_street }} {{ (currentuser)?.company_house_number }}<br />
                                {{ (currentuser)?.company_zip }} {{ (currentuser)?.company_city }}
                            </div>  
                      </div>
                  </div>
                  <div class="row  infoRow">
                      <div class="col s12 l4  infoCol">
                        <h4>Kontaktdaten</h4>
                            <qap-spinner class="spinner-info" [isRunning]="isRequesting"></qap-spinner>
                            <span *ngIf="!isRequesting" class="info"><i class="material-icons">phone</i> {{ (currentuser)?.tel }}</span><br />
                            <span *ngIf="!isRequesting" class="info"><i class="material-icons">email</i>  {{ (currentuser)?.email }}</span>
                      </div>
                       <div class="col s12 l4  infoCol">
                         <h4>Profile im Netz</h4>
                          <!--KOMMENT TEST-->
                          <div ><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.facebook }}" target="_blank" >Facebook</a></span></div>
                          <div  ><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.xing }}" target="_blank" >Xing</a></span></div>
                          <div ><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.linkedin }}" target="_blank" >Linkedin</a></span></div>
                          <div ><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.linkedin }}" target="_blank">WEBSITE</a></span></div>
                         <!--KOMMENT END-->
                          <div *ngIf="(currentuser)?.facebook"><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.facebook }}" target="_blank" >Facebook</a></span></div>
                          <div *ngIf="(currentuser)?.xing" ><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.xing }}" target="_blank" >Xing</a></span></div>
                          <div *ngIf="(currentuser)?.linkedin"><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.linkedin }}" target="_blank" >Linkedin</a></span></div>
                          <div *ngIf="(currentuser)?.linkedin"><span class="info"><i class="material-icons">link</i> <a href="{{ (currentuser)?.linkedin }}" target="_blank" >WEBSITE</a></span></div>
                          <br/>
                      </div>
                       <div class="col s12 l4  profileCol">
                         <h4>Events</h4>
                         <span>{{ (currentuser)?.about }} text</span>
                          
                        
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </main>
