<main>
  <div class="container">
  <div class="row ">
      <span><i class="material-icons">keyboard_arrow_left</i><a [routerLink]="['/profile/' + (qapuserprofile | async)?.id]" >zurück zum Profil</a></span>
  </div>
  <div class="row main-row">
      <div class="col s12 fields-col">
        <div class="row ">
          <div class="col s12">
    <h2>Profil bearbeiten</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

      <div class="row">
        <div class="col s12">
          <h3>Persönliches</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l6">
          <fieldset>
            <div class="row">
              <div class="col s12 l4">
                <div class="qap-input-group qap-input-group--25">
     
                  <label for="title">Titel</label>
                  <input type="text" formControlName="title" value="{{(qapuserprofile | async)?.title}}">
                </div>
              </div>
              <div class="col s12 l8">
                <div class="qap-input-group qap-input-group--75 qap-input-group--pad">
                  <label for="firstname">Vorname</label>
                  <input  type="text" formControlName="firstname" value="{{(qapuserprofile | async)?.firstname}}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col s12 l4">
                <div class="qap-input-group qap-input-group--25" style="clear: both;">
                  <label for="suffix">Zusatz</label>
                  <input type="text" formControlName="suffix" >
                </div>
              </div>
              <div class="col s12 l8">
                <div class="qap-input-group qap-input-group--75 qap-input-group--pad">
                  <label for="lastname">Nachname</label>
                  <input type="text" formControlName="lastname" value="{{(qapuserprofile | async)?.lastname}}" >
                </div>
              </div>
            </div>

            <button class="waves-effect waves-light btn orange" type="button" (click)="more = !more" [class.hide]="more">
                      Du möchtest noch mehr über dich erzählen?</button>
            <div class="more ng-hide" [hidden]="!more" [ngClass]="{ 'is-open' : more }">
              <br/>

              <label for="about">Was begeistert dich? (optional) {{(qapuserprofile | async)?.about}}</label>
              <input formControlName="about" placeholder="Richtig komplizierte Excel-Tabellen">

              <label for="xing">Xing Profil URL (optional)</label>
              <input formControlName="xing"  placeholder="https://www.xing.com/profile/Max_Mustermann"
                type="url">

              <label for="linkedin">LinkedIn Profil URL (optional)</label>
              <input formControlName="linkedin"  placeholder="https://www.linkedin.com/in/max-mustermann-4a012345"
                type="url">

              <label for="facebook">Facebook Profil URL (optional)</label>
              <input formControlName="facebook"  placeholder="https://www.facebook.com/max.mustermann"
                type="url">
            </div>
          </fieldset>

        </div>

        <div class="col s12 l6">

          <fieldset>
            <br/>
            <div class="file-field input-field">
              <div class="waves-effect waves-light btn orange">
                <span>Profilbild (max 3 MB)</span>
                <input  id="userAvatar" type="file"  type="file" ng2FileSelect [uploader]="uploader" (change)="enableConfirm()" accept="image/*"class="waves-effect waves-light btn orange">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <br/>
            <input type="checkbox" id="copyright_confirm" checked disabled (click)="uploadFile()" />
            <label for="copyright_confirm">Hiermit bestätige ich, dass ich alle Rechte am von mir hochgeladenen Bild halte.</label>
          </fieldset>
        </div>
      </div>
      <!--
          <h3>Settings</h3>
          <fieldset class="full">
            <div style="width: 200%">
            <label for="mail_signature">Email Signatur</label>
              <textarea name="mail_signature" placeholder=""
                        ng-model="vm.mail_signature"
                        required></textarea>
          </div>
          </fieldset>
      -->

      <!-- Company -->
      <div class="row">
        <div class="col s12">
          <h3>Job Info</h3>
        </div>

      </div>

      <div ng-show="vm.registerError" class="error register-block__error ng-hide">
        <!-- ngRepeat: error in vm.registerErrorText -->
      </div>

      <div class="row">
        <div class="col s12 l6">

          <fieldset style="clear: both;">
            <label for="company">Firma</label>
            <input formControlName="company"  >
            <input formControlName="id"  type="hidden">

            <div class="row">
              <div class="col s12 m10">

                <div class="qap-input-group qap-input-group--75">
                  <label for="company_street">Straße</label>
                  <input formControlName="company_street" >
                </div>
              </div>
              <div class="col s12 m2">

                <div class="qap-input-group qap-input-group--25 qap-input-group--pad">
                  <label for="company_house_number">Hausnr.</label>
                  <input formControlName="company_house_number"  name="company_house_number" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4">
                <div class="qap-input-group qap-input-group--25">
                  <label for="company_zip">PLZ</label>
                  <input formControlName="company_zip" value="{{(qapuserprofile | async)?.company_zip}}" >
                </div>
              </div>
              <div class="col s12 m8">
                <div class="qap-input-group qap-input-group--75 qap-input-group--pad">
                  <label for="company_city">Stadt</label>
                  <input formControlName="company_city" value="{{(qapuserprofile | async)?.company_city}}" >
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        <div class="col s12 l6">

          <fieldset>

            <div class="input-field">
              <select formControlName="career_level"  materialize="material_select" [materializeSelectOptions]="career_levels">
                        <option value="" disabled selected>Auswählen</option>
                        <option  *ngFor="let item of career_levels" label="{{item}}" value="{{item}}">{{item}}</option>
              </select>
              <label style="left: 0" for="career_level">Karrierestufe</label>
            </div>
            <br/>
            <br/>
            <label for="occupational_area">Tätigkeitsschwerpunkte</label>

            <p class="profileEditCheckboxes">
              <span *ngFor="let item of occupational_areas">
                        <input type="checkbox" id="{{item}}" formControlName="{{item}}"/>
                        <label attr.for="{{item}}">{{item}}</label>
              </span>
              <br>
            </p>
          </fieldset>

        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <fieldset>
            <input class="waves-effect waves-light orange btn" type="submit" value="Profil speichern">
          </fieldset>
        </div>
      </div>
    </form>

  </div> </div> </div> </div> </div>
</main>