<main>
    <div class="container full">
        <div class="row">
            <div class="col s12 l6 m6">
                <h1>Mitglieder</h1>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col s12 m3 l2">
                <a class='waves-light ' (click)="filterTopic('');" materialize="dropdown" data-constrainwidth="false"
                   data-beloworigin="true" data-activates='dropdown1'>{{topicSearchDefault}}<i class="material-icons right">keyboard_arrow_down</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a (click)="filterTopic('');">Fachgebiet</a></li>
                    <li><a (click)="filterTopic('Onboarding');">Onboarding</a></li>
                    <li><a (click)="filterTopic('Interne Tools');">Interne Tools</a></li>
                    <li><a (click)="filterTopic('Projektmanagement');">Projektmanagement</a></li>
                    <li><a (click)="filterTopic('Kommunikationsmanagement');">Kommunikationsmanagement</a></li>
                    <li><a (click)="filterTopic('Personalmanagement');">Personalmanagement</a></li>
                    <li><a (click)="filterTopic('Marketingmanagement');">Marketingmanagement</a></li>
                    <li><a (click)="filterTopic('Veranstaltungsmanagement');">Veranstaltungsmanagement</a></li>
                    <li><a (click)="filterTopic('Leadership');">Leadership</a></li>
                    <li><a (click)="filterTopic('IT-Management');">IT-Management</a></li>
                    <li><a (click)="filterTopic('Design');">Design</a></li>
                    <li><a (click)="filterTopic('Webentwicklung');">Webentwicklung</a></li>
                    <li><a (click)="filterTopic('Administration / Backoffice');">Administration / Backoffice</a></li>
                    <li><a (click)="filterTopic('Service');">Service</a></li>
                    <li><a (click)="filterTopic('Datenbankmanagement');">Datenbankmanagement</a></li>
                    <li><a (click)="filterTopic('Teamsport');">Teamsport</a></li>
                </ul>
                <br class="hide-on-med-and-up"/>
                <br class="hide-on-med-and-up"/>
            </div>
            <div class="col s12 m3 l2">
                <a class=' waves-light ' (click)="filterYear('');" materialize="dropdown" data-constrainwidth="false"
                   data-beloworigin="true" data-activates='dropdown2'>{{yearSearchDefault}}<i class="material-icons right">keyboard_arrow_down</i></a>
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a (click)="filterYear('');">Jahrgang</a></li>
                    <li><a (click)="filterYear('2016');">2016</a></li>
                    <li><a (click)="filterYear('2017');">2017</a></li>
                </ul>
                <br class="hide-on-med-and-up"/>
                <br class="hide-on-med-and-up"/>
            </div>
            <div class="col s12 m3 l3 right">
                <div class="input-field" style="margin: 0; margin-top: -4px;">
                   <i class="material-icons prefix ">search</i>
                    <input class="organge" type="text" placeholder="Nach Namen suchen"  [(ngModel)]="searchQuery">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l4 m6 s12"   *ngFor="let user of profiles | qapprofilesearch:searchQuery | qapprofiletopicsearch:topicSearch  | paginate: { itemsPerPage: 12, currentPage: p } ">
                <div class="card large hoverable">
                    <div class="card-image profile-image">
                       <img alt="" src="{{IMAGE_URL}}big-{{user?.avatar?.name}}" />
                    </div>
                    <div class="card-content profile">
                        <div class="card-title activator center-align">{{ user.title }} {{ user.firstname }} {{ user.suffix }} {{ user.lastname }}</div>
                        <div class="profile-study center-align truncate">{{user.career_level}}
                        </div>
                        <div class="profile-tags center-align" [innerHTML]="user.occupational_area| qapsplitwrapjoin "></div>

                        <div class="card-action">
                            <a class="waves-effect orange waves-light btn " [routerLink]="['/profile/' + user.id]"> Profil anzeigen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>