// component styles are encapsulated and only applied to their components
$event-date: #909090;
.container {
  color: #000;
}

.homeCard {
  background-color: white;
  height: 600px;
  overflow: auto;
  padding: 30px;
}
h4{
  font-weight:400;
  padding-bottom:15px;
}
.event-date,
.person-firma,
.rss-date,
.rss-description {
    color: $event-date;
    font-size:16px;
  }
.event-title,
.rss-title {
    font-family: "Proxima Nova Extrabold" !important;
    line-height: initial;
    font-size:20px;
    color:#000;
}
.rss-container{
  margin-bottom:10px;
}
.event {
  padding: 10px 15px;
}
.news{
  padding: 0px 15px;
}

.showall {
  float: right;
  padding: 10px 0px;
  font-size: 1em;
}




