<main>
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h1>Hallo {{(qapuserprofile | async)?.firstname}}</h1>
                <div class="welcome-message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula est, consectetur eget purus eget,
                    consequat hendrerit dui. Maecenas eget pulvinar mauris. Aenean augue sapien, ullamcorper sit amet
                    orci in.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l4 s12">
                <div class="col l12 s12 homeCard card">
                    <h4>
                        Neuste Events
                    </h4>
                    <div class="row ">
                        <div class="col l12 m12 s12 event"
                             *ngFor="let event of qapeventitems | async |  paginate: { itemsPerPage: 5, currentPage: p } | qapeventtopicsearch:topicSearch | qapeventsearch:searchQuery | qapeventtypesearch:typeSearch">
                            <div class="event-date "> {{event.endtime | amDateFormat: 'DD. MMMM YYYY'}} in {{
                                event.host_city }}
                            </div>
                            <div class="event-title activator ">{{event.title}}</div>
                        </div>
                    </div>
                </div>
                <a class='orange-text showall' [routerLink]="['/events']"> Alle anzeigen </a>
            </div>
            <div class="col l4 s12">
                <div class="col l12 s12 homeCard card">
                    <h4>
                        Neuigkeiten
                    </h4>
                    <div class="row news ">
                        <p class='rss-container'>
                            <qap-spinner class="spinner-info" [isRunning]="isRequesting"></qap-spinner>
                            <span *ngFor="let feed of feeds |  paginate: { itemsPerPage: 3, currentPage: p }">
                            <div class='rss-container'>
                                <span class='rss-date'>{{feed.pubDate | amDateFormat: 'DD. MMMM YYYY'}}</span><br>
                                <a class='rss-title' href='{{feed.link}}' target="_blank">{{feed.title}}</a> 
                                <div class='rss-description' [innerHTML]="feed.description"></div>
                                <br>
                            </div>
                        </span>
                        </p>
                    </div>
                </div>
                <a class='orange-text showall' target="_blank" href="https://www.quadriga-hochschule.com/"> Alle anzeigen </a>
            </div>
            <div class="col l4 s12">
                <div class="col l12 s12 homeCard card">
                    <h4>
                        Nachrichten
                    </h4>
                    <div class="row ">
                        <div class="col l12 s12">
                                <div class="row person" *ngFor="let message of (currentuser)?.my_messages ">
                                    <a [routerLink]="['/messages/' + message.id]"> 
                                        <div class="col s12 m3 l4 ">
                                            <div class="round"> <!--<img alt="{{(qapuserprofile | async)?.name}}"
                                                                src="{{IMAGE_URL}}small-{{(qapuserprofile | async)?.avatar?.name}}"/>-->
                                                <img alt="{{message.sender.name}}"
                                                    src="{{IMAGE_URL}}small-{{message.sender?.avatar?.name}}"/>
                                            </div>
                                        </div>
                                        <div class="col s12 m9 l8">
                                            <small class="event-date "> {{message.created_at}}</small>
                                            <div class="event-title">{{message.subject}}</div>
                                            <div class="person-firma">{{message.sender.firstname}} {{message.sender.lastname}}</div>
                                            <!--<div class="person-firma">{{message.sender.company}} {{message.sender.city}}</div>-->
                                        </div>
                                    </a>
                                </div>
        
                        </div>
                    </div>
                </div>
                <a class='orange-text showall' [routerLink]="['/messages']"> Alle anzeigen </a>
            </div>
        </div>
    </div>
</main>
